body {
  margin: 0;
}

.list-group {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  height: 0;
}

.black-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
  display: none;
}
.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
}

.show-menu {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 5;
  margin-bottom: 100px;
}

.navbar-brand {
  font-size: 25px;
}

#login-box {
  margin-top: 100px;
}

#darklight {
  font-size: 24px;
}

.slide-container {
  width: 300vw;
}

.slide-box {
  width: 100vw;
  float: left;
}

.slide-box img {
  width: 100%;
}
.live-height-box {
  width: 100%;
}

.live-heigth {
  width: 3px;
  background-color: red;
  height: 3px;
}

.hide-option {
  display: none;
}
